@import '../settings/colours';

.form {
    width: 100%;
    border-radius: 0.25rem;
    padding: 1em;
    
    input {
      width: 100%;
      padding: .75em;
      margin-bottom: 1em;
      background-color: $background-colour;
      color: $light-colour-primary;
      font-size: large;
      border-radius: .25em;
      border: 0;
  
      &:focus {
        outline: none;
      }
  
    }
  
  
  }
  