@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: #2E3440;
    color: white;
    font-family: 'roboto mono', monospace;
    padding-bottom: 100px;
}

.content {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 5%;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

hr {
    border: 1px solid white;
}

.card {
    border-radius: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.card-title {
    text-transform: uppercase;
    letter-spacing: 3px;
}