$background-colour: #0c0d11;

$dark-colour-primary: #10141b;
$dark-colour-secondary: rgb(46, 50, 63);

$light-colour-primary: #e0e0e0;
$light-colour-secondary: #bebebe;

$unavailable: #993535;
$unavailable-secondary: #ff1c1c;

$available: #478d34;
$available-secondary: #14da35;

$neutral: #747373;
$neutral-secondary: #a7a7a7;

$highlight-colour: #1666fc;
$highlight-colour-secondary: #0d3d94;